<div class="cluster-card" *ngIf="cluster">

    <form [formGroup]="clusterForm" class="login-container" (ngSubmit)="submitCluster()">
        <input type="name" placeholder="name*" formControlName="name"/>
        <ng-container *ngIf="!formControls.name.valid &&formControls.name.touched">
          <p *ngIf="formControls.name.errors.required">
            Name is required
          </p>
        </ng-container>
    
        <input type="text" placeholder="description*" formControlName="description" />
        
        <input type="text" placeholder="reportDate*" formControlName="reportDate" />
        <p>
          <input type="submit" value="Submit" [disabled]="clusterForm.invalid" />
        </p>
      </form>

    <button (click)="editCluster()" class="button">Edit Cluster</button>
</div>
<br>
